<section id="studentData_view" class="container">
    <h1>Meow</h1>

    {{#each model}}
      <div class="student_block">
      <h3>{{title}}</h3>
        <form action="/StudentData/update" method="POST">
          <div class="input-group">
            <label for="StudentID">StudentID</label>
            <input type="text" name="StudentID" id="StudentID" class="input-box" placeholder="00000000"
              maxlength="100" required value={{StudentID}}>
          </div>
          <div class="input-group">
            <label for="FName">First Name</label>
            <input type="text" name="FName" id="FName" class="input-box" placeholder="atk"
            maxlength="100" value={{FName}}>
          </div>
          <div class="input-group">
            <label for="LName">Last Name</label>
            <input type="text" name="LName" id="LName" class="input-box" placeholder="def"
            maxlength="100" value={{LName}}>
          </div>
          <div class="input-group">
            <label for="District">District</label>
            <input type="text" name="District" id="District" class="input-box" placeholder="NULL"
            maxlength="100" value={{District}}>
          </div>
          <input type="submit" value="Update" class="btn btn-reverse">
        </form>
    </div>
    {{else}}
      <p>No data available</p>
    {{/each}}
    
  </section>